# Data Cleaning

In [28]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.model_selection import train_test_split

# 1. Import Data

In [2]:
glass = pd.read_csv("glass.csv")
glass.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

# 2.1 Data Cleaning: Check for null values

In [3]:
glass.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 10 columns):
RI      214 non-null float64
Na      214 non-null float64
Mg      214 non-null float64
Al      214 non-null float64
Si      214 non-null float64
K       214 non-null float64
Ca      214 non-null float64
Ba      214 non-null float64
Fe      214 non-null float64
Type    214 non-null int64
dtypes: float64(9), int64(1)
memory usage: 16.8 KB

# 2.2 Check for invalid values

In [13]:
# print out min and max of every column

print(f"     minimum     maximum")

for col in glass.columns:
    minimum = round(glass[col].min(), 4)
    maximum = round(glass[col].max(), 4)
    print(f"{col:<{5}} {minimum:<{11}} {maximum}")

     minimum     maximum
RI    1.5112      1.5339
Na    10.73       17.38
Mg    0.0         4.49
Al    0.29        3.5
Si    69.81       75.41
K     0.0         6.21
Ca    5.43        16.19
Ba    0.0         3.15
Fe    0.0         0.51
Type  1           7

# 3.1 Splitting Data

In [29]:
explore, test = train_test_split(glass)

explore.shape, test.shape

((160, 10), (54, 10))

In [30]:
train, val = train_test_split(explore)

train.shape, test.shape

((120, 10), (54, 10))

# 3.2 Save Data

In [32]:
train.to_csv("train.csv", index=False)
val.to_csv("val.csv", index=False)
test.to_csv("test.csv", index=False)